<div class="container">
  <h1 class="mb-4">New Book</h1>

  <%= render "form", book: @book %>

  <div class="mt-3">
    <%= link_to "Back to books", books_path, class: "btn btn-outline-secondary" %>
  </div>
</div>

